.btn-back-about {
  position: absolute;
  top: 0;
  right: 1px;
}

.img-btn-back {
  height: 17vh;
  border-radius: 50%;
}

.logo-desktop {
  display: none;
}

.about {
  text-align: justify;
  margin: 10% 5% 0 5%;
}

.logo-icon-page-about {
  height: 30vh;
}

.text-align {
  text-align: justify;
  margin: 0 5%;
}

.tittle-about {
  color: var(--tiffany-blue);
}

.text-about {
  font-size: 18px;
}

.tittle-devs-about {
  background: var(--tiffany-blue);
  text-align: center;
}

.about-devs {
  background-color: var(--light-pink-opacity);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-picture-devs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 100%
}

.information-about-devs {
  justify-content: center;
  align-items: center;
}

.picture-devs-img {
  height: 70px;
  width: 60px;
}

.picture-devs {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.social-networks-devs {
  flex-direction: column;
}