.box-slogan-page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-about {
  position: absolute;
  top: 0;
  right: 1px;
}

.img-btn-about {
  height: 10vh;
}

.slogan-desktop {
  display: none;
}

.form-login {
  background-color: var(--lilac);
  border-radius: 10px;
  text-align: center;
  padding: 10px 0 10px 0;
}

.flex-direction {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 80%;
  margin: 0 auto 0 auto;
}

.login-area,
.btn-sign-in,
.btn-recover-password {
  background-color: var(--off-white);
  border-radius: 10px;
  box-shadow: var(--black) 10px 10px 15px -8px;
  font-size: 15px;
  margin: 3% 5%;
  padding-left: 10px;
  height: 40px;
  width: 90%;
  flex: 2 2 90%;
}

.btn-google {
  background: var(--mustard);
  border-radius: 10px;
  flex: 2 2 150px;
  align-items: center;
  justify-content: center;
  box-shadow: var(--black) 10px 10px 15px -8px;
  height: 6vh;
  width: 60%;
}

.btn-sign-in:hover,
.btn-recover-password:hover,
.btn-google:hover {
  cursor: pointer;
  background: var(--mustard);
}

.error {
  height: 10px;
  display: none;
  color: var(--red-error);
}

.text-center {
  text-align: center;
  margin: 1% auto;
  display: block;
}

.header-desktop {
  display: none;
}

a:link {
  color: var(--purple);
}

#click-register:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .logo-icon-page-login {
    height: 30vh;
  }

  .btn-google {
    width: 50vw;
    margin-top: 3%
  }

  .img-btn-google {
    height: 4vh;
  }

  .font-size {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo-page-login {
    height: 30vh;
  }

  .img-btn-google {
    height: 4vh;
  }

  .font-size {
    font-size: 18px;
  }
}

@media(min-width: 992px) {
  .div-login {
    height: 100%;
  }

  .box-form-login {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .header-page-login {
    width: 48%;
    height: 100%;
  }

  .box-slogan-desktop {
    width: 100%;
    height: 100%;
  }

  .login-form-section {
    width: 52%;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .logo-desktop {
    display: block;
    width: 100%;
  }

  .slogan-desktop {
    display: block;
    height: 100%;
  }

  .btn-about {
    display: none;
  }

  .img-btn-google {
    height: 4vh;
  }

  .font-size {
    font-size: 18px;
  }

  .btn-google {
    background: transparent;
    border: 1px solid var(--black);
  }

  .header-desktop {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    align-items: center;
    background-color: var(--mustard);
    font-size: 23px;
    height: 30px;
  }
}