.box-form-create-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-icon-page-register {
  height: 20vh;
  margin-bottom: 2%
}



.form-register {
  background-color: var(--lilac);
  border-radius: 10px;
  height: 400px;
  width: 60%;
  text-align: center;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--black);
}

.btn-explanation:hover {
  background-color: var(--mustard);
  cursor: pointer;
}

.explanation {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-shadow);
}

.explanation.active {
  visibility: visible;
}

.explanation-contents {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: var(--light-pink);
  font-weight: bold;
  padding: 40px;
  border-radius: 10px;
  margin: 0 5%;
}

.create-area {
  background-color: var(--off-white);
  border-radius: 10px;
  font-size: 15px;
  height: 50px;
  margin: 10px 10% 0 10%;
  padding-left: 10px;
  width: 80%;
  box-shadow: var(--black) 10px 10px 15px -8px;
}

.box-btns {
  display: flex;
  width: 70vw;
  justify-content: space-around;
  margin-bottom: 3%;
}

.btn-area {
  margin-top: 20px;
  background: var(--mustard);
  border-radius: 10px;
  padding: 12px 12px 12px 12px;
  width: 100px;
  text-align: center;
  box-shadow: var(--black) 10px 10px 15px -8px;
  font-size: 16px;
  color: var(--black);
  cursor: pointer;
}

.btn-area:hover {
  text-decoration: underline;
}

.inerror-message {
  display: none;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: var(--black);
}